input {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 25px;
    margin: 2%;
    margin-bottom: 0;
    text-align: center;
    background-color: rgb(255, 145, 145);
    font-size: 50px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
}

body {
    background-color: rgb(248, 113, 113);
}

.form__title {
    border-radius: 25px;
    margin-top: 1%;
    text-align: center;
    font-size: 50px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
}

.info__image {
    border-radius: 15px;
    margin-left: 5%;
    height: 40%;
}

.info {
    display: flex;
}
.info__plot {
    margin: 5% 5% 0 5%;
}

.rating, .votes, .length {
    background-color: rgb(255, 166, 166);
    margin: 2% 10% 10% 10%;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
    font-size: 150%;
    font-weight: 500;
}

.verticalflex {
    display: flex;
    flex-direction: column;
    background-color: rgb(207, 84, 84);
    border-radius: 15px;
    padding-top: 20px;
    margin-left: 10px;
    color: white;

}

.verticalflex__title{
    color: rgb(253, 232, 232);
    text-align: center;
    font-size: 120%;
}